.manage-doctor-container {
    padding: 5px;

    .manage-doctor-title {
        text-align    : center;
        margin        : 15px 0;
        font-size     : 20px;
        font-weight   : 600;
        text-transform: uppercase;
    }

    .more-infor {
        display: flex;

        .content-left {}

        .content-right {}
    }

    .save-content-doctor {
        margin          : 20px 0 30px;
        border-radius   : 3px;
        outline         : none;
        border          : none;
        padding         : 5px;
        background-color: orange;

        &:hover {
            cursor : pointer;
            opacity: 0.8;
        }
    }

    .create-content-doctor {
        margin             : 20px 0 30px;
        border-radius      : 3px;
        outline            : none;
        border             : none;
        padding            : 5px;
        // background-color: blue;
        // color           : white;

        &:hover {
            cursor : pointer;
            opacity: 0.8;
        }
    }
}