.profile-doctor-container {
    .intro-doctor {
        display: flex;
        padding: 10px;

        .content-left {
            background-size    : cover;
            background-position: center;
            background-repeat  : no-repeat;
            width              : 80px;
            height             : 80px;
            border-radius      : 50%;
        }

        .content-right {
            width         : 600px;
            display       : flex;
            flex-direction: column;
            padding-left  : 10px;

            .up {
                font-weight: 600;
            }

            .down {
                justify-content: center;
            }
        }


    }

    .view-detail-doctor {
        padding: 10px;
    }
}