.verify-email-container {
    .infor-booking {
        font-size     : 17px;
        font-weight   : 600;
        margin-top    : 10px;
        text-transform: uppercase;
        text-align    : center;
        color         : grey;
    }
}